@import url("../assets/style/header.css");
@import url("../assets/style/main.css");


:root {
    --cor-amarela: #FFA800;
    --cor-azul: #0072D2;
    --cor-branca: #FFFFFF;
    --cor-preta: #131318;
    --fonte-principal: 'B612', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
}


body {
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}


body::before {
    background: url("../assets/img/fundo.svg") no-repeat center;
    background-size: cover;
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    filter: brightness(45%);
    z-index: -1;
    animation-name: animation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
  }

  @keyframes animation {
    0% {
      background-image: url("../assets/img/fundo.png");
    }
  
    50% {
      background-image: url("../assets/img/fundo2.png");
      filter: brightness(65%);
    }
  
    100% {
      background-image: url("../assets/img/fundo.png");
    }
  }